body {
  background: #0f172a;
  font-family: Arial;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.panel-box, .dashboard {
  background:#1e293b;
  padding:30px;
  border-radius:10px;
  width:300px;
  text-align:center;
}

input {
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:5px;
}

button {
  width:100%;
  padding:10px;
  background:#22c55e;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
