body {
  background: #0f172a;
  font-family: Arial;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.panel-box, .dashboard {
  background:#1e293b;
  padding:30px;
  border-radius:10px;
  width:300px;
  text-align:center;
}

input {
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:5px;
}

button {
  width:100%;
  padding:10px;
  background:#22c55e;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  background: #334155;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #22c55e;
}
